[workspace]

resolver = "2"

members = [
	"crates/cellang",
	"crates/cellang-cli",
	"crates/cellang-macros",
]

[workspace.package]
version = "0.5.0"
edition = "2024"
license = "MIT"

[profile.release]
codegen-units = 1
lto = true
opt-level = 3
