[workspace]

resolver = "2"

members = ["crates/cellang", "crates/cellang-cli"]

[workspace.package]
version = "0.4.3"
edition = "2024"
license = "MIT"


[profile.release]
codegen-units = 1
lto = true
opt-level = 3
